---
import { Markdown } from 'astro/components';

import Footer from '../components/DefaultFooter.astro';
import Html from "../layouts/default.astro";
import Header from '../components/DefaultHeader.astro';
import Mugshot from '../components/Mugshot.astro';
import Panel from '../components/Panel.astro';
import PanelFull from '../components/PanelFull.astro';
import PanelPageTitle from '../components/PanelPageTitle.astro';
import PanelTitle from '../components/PanelTitle.astro';

let title = 'Olivier Cardinaux, rue Chappe, Paris';
let description = 'Le site de Olivier Cardinaux, créateur-concepteur de sites internet avec Kirby.';
let permalink = 'https://ruechappe.fr/apropos';
---
<Html title={ title } description = { description } permalink = { permalink } >

<body>
  <header class="full">
    <Header />
  </header>
  <PanelPageTitle position="center">
    <div class="title-item"><h1>à PROPOS</h1></div>
  </PanelPageTitle>
  <Panel position="stretch" title="apropos">
    <div slot="content">
      <Mugshot img='atable300.png'/>
      <Markdown>

      Pour définir nos **modèles de site**, nous avons d’abord mis en place une matrice reposant sur 4 dimensions. Chacune d’elles regroupe les besoins clés identifiés tout au long de nos quinze années d’expériences et de dialogues avec nos clients. À quelles attentes répondent chaque dimension ? Qu’est-ce que cela implique ? Nous vous détaillons ces 4 dimensions :

      * Dimension Référence : dans cette perspective, un site répond au besoin d’avoir avant tout un outil de présentation et d’accès à l’information, destiné à des publics qui demandent à mieux vous connaître, auxquels vous devez avant tout une information fiable et à jour. Cela combine tout ce qui fait le cœur d’un site corporate (histoire, chiffres clés, marque employeur, etc.) ou de service public aujourd’hui
      * Dimension Business : cet axe correspond au besoin de soutenir en premier lieu l’activité, notamment par l'acquisition et le référencement naturel, en prenant soin des parcours clients, des logiques de conversion. Plusieurs questions se posent : quels contenus pour faire venir ? Quel *call to action* ? Quelle est la promesse ?
      * Dimension Service : cette focale s’intéresse aux projets proposant un service, que ce soit du simple compte utilisateur ou encore une véritable capacité relationnelle ou de traitement. Dans ce cas, la fluidité des parcours est essentielle.

      Ce dernier point prend en compte le besoin de partager un éclairage, une vision, une cause, de faire comprendre votre engagement tant pour l’environnement que pour la société et votre activité. Mais comment traduire cette dimension sans tomber dans une simple rubrique RSE en silo ?
      </Markdown>
    </div>
  </Panel>

  <div>
  <p>OMG!</p>
  </div>
  <footer class="full">
    <Footer />
  </footer>
</body>

</Html>

<style lang="scss">
body {
  background-color: var(--color-fancy-bg);
}
</style>
