---
import { Markdown } from "astro/components";

import Html from "../layouts/default.astro";
import Header from "../components/DefaultHeader.astro";
import Footer from "../components/DefaultFooter.astro";

import Button from "../components/Button.astro";
import Panel from "../components/Panel.astro";
import PanelFull from "../components/PanelFull.astro";
import PanelTitle from "../components/PanelTitle.astro";

let title = "Olivier Cardinaux, rue Chappe, Paris";
let description =
  "Le site de Olivier Cardinaux, créateur-concepteur de sites internet avec Kirby.";
let permalink = "https://ruechappe.fr/";
let current = "index";
---

<Html {title} {description} {permalink} {current}>
  <header class="full">
    <nav id="sitenav">
      <ul role="list">
        <li>
          <a href="/">index</a>
        </li>
        <li>
          <a href="/inspirations">inspiration</a>
        </li>
      </ul>
    </nav>
  </header>
  <div>
    <Markdown>
      # Contents

      Ici je parle de mon offre, ce que je fais, propose, etc. Keçadir ?

      ## offre

      Je crée des sites internet pour le plaisir, la beauté du geste. Mais ça doit être utile, aussi. Ce n'est pas que de l'art pour l'art. Quoi que c'est ce qui me plaît, pour être parfaitement honnête.

      Mais il faut que je gagne de l'argent, j'en ai besoin. Je ne peux pas faire sans, en réalité. Pas besoin de beaucoup, mais un petit peu, ça serait pas mal, en réalité.

      - sites internet
      - autres choses ?

      ## moi

      - Qui suis-je ?
      - Pourquoi devrait-on me faire confiance ?
    </Markdown>
  </div>

  <footer class="full">
    <Footer />
  </footer>
</Html>

<style lang="scss">
  div {
    grid-column: 2 / -2;
  }

  p + p {
    margin-top: 1rem;
  }
</style>
