---
import { Markdown } from 'astro/components';

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import SvelteCounter from '../components/SvelteCounter.svelte';

let title = 'Olivier Cardinaux, ruechappe';
let description = 'Le site de Olivier Cardinaux, créateur-concepteur de sites internet avec Kirby.';
let permalink = 'https://ruechappe.fr/';
---

<html lang="en">
<head>
    <BaseHead title={title} description={description} permalink={permalink} />
</head>
<body>
  <header>
    <Header />
  </header>
  <main>
    <Markdown>
    So much to say about myself and my work here!
    </Markdown>
    <a href="#">oops</a>
  </main>
  <footer>
    <SvelteCounter client:visible />
  </footer>
</body>
</html>

<style lang="scss">
div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

p {
  text-transform: none;
  max-width: min(100%, 68ch);
}
</style>
