---
import { Markdown } from "astro/components";

import Button from "../components/Button.astro";
import Footer from "../components/DefaultFooter.astro";
import Html from "../layouts/default.astro";
import Header from "../components/DefaultHeader.astro";
import Panel from "../components/Panel.astro";
import PanelFull from "../components/PanelFull.astro";
import PanelTitle from "../components/PanelTitle.astro";

let title = "Olivier Cardinaux, rue Chappe, Paris";
let description =
  "Le site de Olivier Cardinaux, créateur-concepteur de sites internet avec Kirby.";
let permalink = "https://ruechappe.fr/";
let current = "index";
---

<Html title={title} description={description} permalink={permalink} current={current}>
    <header class="full">
      <Header />
    </header>

    <PanelTitle>
      <h1 data-splitting>Je fabrique des sites internet pour vous.</h1>
      <h3>MADE IN MONTMARTRE (PARIS, FRANCE)</h3>
    </PanelTitle>

    <Panel position="right panel" title="intro">
      <div slot="content">
        <p class="teasing">
          Les projets (numériques) prennent tout leur sens lorsque leurs concepteurs comprennent comment ils seront construits, et pourquoi. Tout comme un architecte comprend comment une structure est créée, il devrait en être de même pour le web.
        </p>
      </div>
    </Panel>

    <Panel position="left panel">
      <div slot="content">
        <Markdown>
          ### Outils

          Vous aider et vous donner la possibilité de prendre soin de votre site.

          Je conçois en gardant à l'&#x2019;esprit la facilité d’utilisation, en m’efforçant de créer des projets accessibles à tous.

          Chaque frappe de touche (Fig 3) est soigneusement étudiée car j’essaie d’écrire un code simple et résistant. L’amélioration progressive est la philosophie avec laquelle je cherche à travailler.

          <Button theme="panel">Oh ouiii, je le veux ! &rarr; &#x21e2; &#x27f6;</Button>
          <Button>Button naked</Button>
        </Markdown>
      </div>
    </Panel>

    <PanelFull title="points">
      <div slot="content">
        <Markdown>
          Il s'agit de s&#x2019;adapter aux personnes, de leur rendre la vie plus facile, du moins ne pas la compliquer. J’aime collaborer, donner des conseils et aider à repousser les limites pour construire des projets qui attirent l’attention, sans sacrifier la simplicité d’utilisation.
        </Markdown>
      </div>
      <div slot="content">
        <Markdown>
          Chaque frappe de touche (Fig 3) est soigneusement étudiée car j’essaie d’écrire un code simple et résistant. L’amélioration progressive est la philosophie avec laquelle je cherche à travailler.
        </Markdown>
      </div>
      <div slot="content">
        <Markdown>
          Les projets prennent tout leur sens lorsque leurs concepteurs comprennent comment ils seront construits, et pourquoi. Tout comme un architecte comprend comment une structure est créée, il devrait en être de même pour le web.
        </Markdown>
      </div>
    </PanelFull>

    <Panel position="center columns panel">
      <div slot="content">
        <Markdown>
          Les projets prennent tout leur sens lorsque leurs concepteurs comprennent comment ils seront construits, et pourquoi. Tout comme un architecte comprend comment une structure est créée, il devrait en être de même pour le web.

          Tout aussi important, j'insiste pour donner de l'importance à l'autre versant : comprendre non seulement pourquoi, mais pour qui le projet est conçu. Il s'agit de s'adapter aux personnes, de leur rendre la vie plus facile, du moins ne pas la compliquer. J’aime collaborer, donner des conseils et aider à repousser les limites pour construire des projets qui attirent l’attention, sans sacrifier la simplicité d’utilisation.
        </Markdown>
      </div>
    </Panel>

    <footer class="full">
      <Footer />
    </footer>
</Html>

<style lang="scss">
  body {
    background-color: var(--surface-1);

    :global(#title) {
      grid-column: 2 / 6;
      grid-row: 2;
      transform: translateY(calc((var(--vw12) / 2) + 1rem));
    }

    :global(#intro) {
      grid-row: 3;
    }
  }

</style>
