---
let { type = 'button', theme } = Astro.props;
---
<button class={ theme } type={ type }>
  <slot />
</button>

<style>
button {
  --button-radius: var(--radius-2);
  --button-text-color: var(--text-1);

  font-size: var(--scale-2);
  font-weight: 400;
  display: inline-flex;
  position: relative;
  margin: 0;
  padding: 0 var(--size-fluid-2);
  border: 1px solid var(--text-1);
  border-radius: var(--button-radius);
  color: var(--button-text-color);
  font-family: var(--font-body-1-font-family);
  letter-spacing: var(--font-body-1-letter-spacing);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  justify-content: center;
  align-items: center;
  user-select: none;

  &:disabled {
    opacity: var(--disabled-opacity);
    cursor: not-allowed;
    pointer-events: none;
  }

  &:focus {
    outline: none;
  }

  &:hover:not([disabled]) {
    cursor: pointer;
  }
}

.nav {
  align-self: center;
}

.panel {
  background-color: var(--surface-1);

  &:hover:not([disabled]) {
    background-color: var(--surface-2);
  }
}
</style>
