---

---
<div class="footer-inner">
  <div class="footer-left">
    <a href="#">oops, I did it again…</a>
  </div>

  <div class="footer-right">
    <p>Look again</p>
  </div>
</div>

<style lang="scss">
.footer-inner {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
</style>

