---
import HomeIcon from "./svg/home.svg.astro";
import WorldIcon from "./svg/world.svg.astro";
import ThemeToggle from "./ThemeToggle.svelte";
---

<div class="header-inner">
  <div class="header-left logo">
    <a class="nav-link" href="/">
      <HomeIcon />
      ruechappe.fr
      <WorldIcon />
    </a>
  </div>

  <div class="header-right">
    <nav id="sitenav">
      <ul role="list">
        <li>
          <a href="/about">Mes porjetc</a>
        </li>
        <li>
          <a href="/about">À propos</a>
        </li>
      </ul>
    </nav>
    <ThemeToggle client:idle />
  </div>
</div>

<style lang="scss">
  .header-inner {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }

  .header-left,
  .header-right,
  #sitenav > ul {
    display: flex;
    gap: 1rem;
    line-height: 1.1;
    align-self: baseline;
  }

  .logo {
    font-size: 32px;
    font-weight: 900;

    > a {
      letter-spacing: 0.1em;
      opacity: 0.66;
    }
  }

  #sitenav {
    color: brown;
  }
</style>
