---
import Logo from "./HeaderLogo.astro";
import Button from "./Button.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<div class="header-inner">
  <div class="header-left logo">
    <Logo />
  </div>

  <div class="header-right">
    <Button theme="nav">Button nav</Button>
    <nav id="sitenav">
      <ul role="list">
        <li>
          <a href="/apropos">Mes porjetc</a>
        </li>
        <li>
          <a href="/apropos">À propos</a>
        </li>
      </ul>
    </nav>
    <ThemeToggle client:idle />
  </div>
</div>

<style>
  .header-inner {
    display: flex;
    justify-content: space-between;
    padding: var(--size-fluid-1);
  }

  .header-left,
  .header-right,
  #sitenav > ul {
    display: flex;
    gap: var(--size-fluid-1);
    line-height: 1.1;
    align-items: center;
    padding: 0;
  }

  .logo {
    font-size: 27px;

    & > a {
      color: inherit;
    }
  }

  #sitenav {
    color: brown;
  }
</style>
