<div>
    <h1 data-splitting>Olivier Cardinaux</h1>
    <h2>ruechappe.fr</h2>
</div>

<style lang="scss">
h1 {
  font-family: Quattrocento, serif;
  color: darkseagreen;
  font-size: var(--font1);
  font-weight: 400;

  > :nth-child(3) {
    font-weight: 700;
  }
}

h2 {
  font-family: "Quattrocento Sans", serif;
  font-style: italic;
  color: burlywood;
}
</style>

