---
import HomeIcon from "./svg/home.svg.astro";
import WorldIcon from "./svg/world.svg.astro";
---
    <a class="nav-link" href="/">
      <div class="icon stacked">
        <HomeIcon />
        <WorldIcon />
      </div>
      olivier cardinaux<br />ruechappe.fr
    </a>

<style>
  .nav-link {
    display: flex;
    flex-direction: row;
  }
</style>