---
import HomeIcon from "./svg/home.svg.astro"
import WorldIcon from "./svg/world.svg.astro"
---
<div class="logo">
  <HomeIcon />
  <h2>ruechappe.fr</h2>
  <WorldIcon />
</div>

<style lang="scss">
.logo {
  display: flex;
}

h2 {
  font-family: "Quattrocento Sans", serif;
  font-style: italic;
  color: burlywood;

  // Adjust to get even with logo icons, although
  // TODO: I'm probably going to put those in a before
  // pseudo.
  line-height: 1.1;
}
</style>

