---
import HomeIcon from "./svg/home.svg.astro"
import WorldIcon from "./svg/world.svg.astro"
---
<div class="logo">
  <HomeIcon />
  ruechappe.fr
  <WorldIcon />
</div>

<style lang="scss">
.logo {
  display: flex;
  font-family: "Quattrocento Sans", serif;
  font-style: italic;
  font-size: 32px;
  color: burlywood;
  line-height: 1.1;
}
</style>

