---
const { position = "left", title = null } = Astro.props;
const setClass = position;
---

<div id="title" class={setClass}>
  <slot />
</div>

<style>
  #title {
    justify-self: start;
    display: flex;
    flex-direction: column;
    border-radius: var(--radius-2);
    background-color: var(--surface-1);
    padding: 1rem;

    & > :global(h1) {
      color: var(--surface-1);
      font-size: var(--font-size-fluid-3);
      letter-spacing: var(--font-letterspacing-3);
      text-shadow:
        1px 1px 0 var(--text-1),
        -1px -1px 0 var(--text-1),
        1px -1px 0 var(--text-1),
        -1px 1px 0 var(--text-1),
        1px 1px 0 var(--text-1);
    }
  }

</style>
