---
const { position = "left", title = null } = Astro.props

---
<article id={ title } class={ position }>
  <div class="content">
    <!-- Using a named slot in case I want to add other stuff to this -->
    <slot name="content"/>
  </div>
</article>

<style>
@import "panel.css";

article {
  border: 1px solid var(--text-1);
  border-radius: var(--radius-2);
  /* background-color: var(--text-1-bg); */
  color: var(--text-1);
}

.content {
  padding: 1em;
}

.center.columns {
  .content {
    @media all and (min-width: 900px) {
      max-width: max-content;
      columns: 2 auto;
      column-gap: 2rem;
    }

    @media all and (min-width: 1500px) {
      max-width: max-content;
      columns: 3 auto;
      column-gap: 2rem;
    }
  }
}

#hero {
  color: orangered;
}

#intro {
  padding-top: 1rem;
}

// TODO: put it in the component?
#apropos {
  :global(.mugshot) > img {
    float: right;
    width: calc(var(--vw12) * 3);
  }
}
</style>