---
const { position = "left", title = null } = Astro.props

---
<article id={ title } class="full">
<div class="content">
  <slot name="content"/>
</div>
</article>

<style>
.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
  margin: 0 calc(var(--vw12) / 3);

  & > :global(*) {
    margin: 0 calc(var(--vw12) / 3);
    padding: 1em;
    border: 1px solid var(--text-1);
    border-radius: var(--radius-2);
    background-color: var(--surface-2);
    color: var(--text-1);
    font-weight: var(--font-weight-3);
  }
}

#points {
  padding-bottom: calc(var(--vw12) * 1.5);

  & div > :nth-child(2) {
    transform: translateY(var(--vw12));
  }

  & div > :nth-child(3) {
    transform: translateY(calc(var(--vw12) * 1.5));
  }
}

</style>