---
const { position = "center", title = null } = Astro.props
const setClass = position
---
<div id="title" class="center">
  <slot />
</div>

<style>
#title {
  position: relative;
  justify-self: stretch;
  align-self: center;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--text-1);
  border-radius: var(--radius-2);
  z-index: 10;
  padding: 1rem;

  :global(.title-item) {
    /* background-color: var(--color-fancy-bg); */
    display: block;
    text-align: center;
    line-height: var(font-lineheight-1);
    width: 100%;
    color: var(--text-1);

    &:first-of-type {
      color: var(--text-1);
    }
  }
}
</style>
