---
const { position = "left", title = null } = Astro.props

---
<article id={ title } class={ position }>
<div class="content">
  <slot name="content"/>
</div>
</article>

<style lang="scss">
article {
  border: 1px solid var(--color-text);
  border-radius: var(--box-radius);
  background-color: var(--color-text-bg);
  color: var(--color-text);
}

.content {
  max-width: 60ch;
  padding: 1em;
}

.center.columns {
  .content {
    @media all and (min-width: 900px) {
      max-width: max-content;
      columns: 2 auto;
      column-gap: 2rem;
    }

    @media all and (min-width: 1500px) {
      max-width: max-content;
      columns: 3 auto;
      column-gap: 2rem;
    }
  }
}

#hero {
  color: orangered;
}

#intro {
  .content {
    padding-top: var(--vw12);
  }
}
</style>