@mixin light-colors {
  --text-1: var(--text-1-black);
  --text-1-bg: var(--color-bg-white);
  --color-fancy-bg: rgb(254 252 113);
  --color-fancy-bg-darker: rgba(254 252 113 / 20%);
}

@mixin dark-colors {
  --text-1: var(--text-1-white);
  --text-1-bg: var(--color-bg-black);
  --color-fancy-bg: rgba(254 252 113 / 50%);
}

body {
  --text-1-black: #1f2937;
  --text-1-white: #f3f4f6;
  --color-bg-black: #1f2937;
  --color-bg-white: #f3f4f6;

  @include light-colors;

  --color-accent: orange;
}

:root[data-theme="dark"] {
  body {
    @include dark-colors;
  }
}
