:root {
  --my-color: orange;
  --color-text: #1f2937;
  --color-text-bg: #f3f4f6;
  --color-fancy-bg: rgb(254 252 113);
}

body {
  @media (prefers-color-scheme: dark) {
    --color-text: #f3f4f6;
    --color-text-bg: #1f2937;
    --color-fancy-bg: rgba(254 252 113 / 50%);
  }
}
