@use "../../../node_modules/rfs/scss" as *;

:root {
  font-family:
    Moriston,
    -apple-system,
    "Segoe UI",
    sans-serif;

  // RFS includes
  @include rfs(0.875rem, --scale-3); // very small stuff 16px
  @include rfs(1rem, --scale-2); // very small stuff 16px
  @include rfs(1.125rem, --scale-1); // small stuff 18px
  @include rfs(1.3125rem, --scale0); // p font 21px
  @include rfs(1.75rem, --scale1); // p.teasing font
  @include rfs(2.332rem, --scale2); // h3 font
  @include rfs(3.109rem, --scale3); // h2 font
  @include rfs(4.144rem, --scale4); // h1.huge font
}

body {
  font-size: var(--scale-1);
  line-height: 1.6;
}

h1 {
  font-size: var(--scale4);
  font-weight: 700;
}

h2 {
  font-weight: 300;
  font-size: var(--scale3);
}

h3 {
  font-weight: 400;
  font-size: var(--scale2);
}

.teasing {
  font-weight: 300;
  font-size: var(--scale1);
  line-height: 1.4;
}
