@use "../../../node_modules/rfs/scss" as *;

// TODO: probably set inline as link (faster load?)
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Piazzolla:wght@400;700;900&display=swap");

:root {
  font-family:
    Bitter,
    -apple-system,
    "Segoe UI",
    sans-serif;

  // RFS includes
  @include rfs(0.875rem, --scale-3); // very small stuff 16px
  @include rfs(1rem, --scale-2); // very small stuff 16px
  @include rfs(1.125rem, --scale-1); // small stuff 18px
  @include rfs(1.3125rem, --scale0); // p font 21px
  @include rfs(1.75rem, --scale1); // p.teasing font
  @include rfs(2.332rem, --scale2); // h3 font
  @include rfs(3.109rem, --scale3); // h2 font
  @include rfs(4.144rem, --scale4); // h1.huge font
}

body {
  font-size: var(--scale-1);
  line-height: 1.6;
  font-weight: 400;

  // Please Stop "Fixing" Font Smoothing
  // https://usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  // text-rendering: optimizeLegibility;
}

h1 {
  font-size: var(--scale4);
  font-weight: 900;
}

.logo {
  font-family: Piazzolla, serif;
  font-weight: 900;
  letter-spacing: 0.02em;
  color: var(--color-accent);
}

h2 {
  font-weight: 300;
  font-size: var(--scale3);
}

h3 {
  font-weight: 300;
  font-size: var(--scale2);
}

h4 {
  font-weight: 500;
  font-size: var(--scale1);
}

article {
  font-weight: 300;
  font-size: var(--scale0);

  p,
  li {
    max-width: 65ch;
  }

  .teasing {
    font-weight: 200;
    font-size: var(--scale1);
    line-height: 1.4;
  }

  strong {
    font-family: Piazzolla, serif;
    font-weight: 700;
  }
}
